New folder/flows.json
[{"id":"254cc848.2228f8","type":"tab","label":"Smart Agriculture System","disabled":false,"info":""},{"id":"490385e9.c23b4c","type":"ibmiot in","z":"254cc848.2228f8","authentication":"apiKey","apiKey":"5c37ff02.5358d","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1234","applicationId":"","deviceType":"NodeMCU","eventType":"iotsensor","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":"","allCommands":"","allFormats":"","qos":0,"x":210,"y":240,"wires":[["efebf033.e5e3c","5e4c3f06.d9902","4d14d564.af03ec"]]},{"id":"5e4c3f06.d9902","type":"function","z":"254cc848.2228f8","name":"humidity","func":"msg.payload = msg.payload.d.humidity\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":280,"wires":[["1d6d87b8.016818"]]},{"id":"efebf033.e5e3c","type":"function","z":"254cc848.2228f8","name":"temp","func":"msg.payload = msg.payload.d.temperature\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":200,"wires":[["5d7c392.10af7c8"]]},{"id":"4d14d564.af03ec","type":"function","z":"254cc848.2228f8","name":"object temp","func":"msg.payload = msg.payload.d.objectTemp\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":360,"wires":[["d031612e.98f9d"]]},{"id":"d031612e.98f9d","type":"ui_gauge","z":"254cc848.2228f8","name":"object temp","group":"780b7db0.782e24","order":3,"width":"6","height":"4","gtype":"gage","title":"Object Temperature","label":"celsius","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":890,"y":360,"wires":[]},{"id":"1d6d87b8.016818","type":"ui_gauge","z":"254cc848.2228f8","name":"Humidity","group":"780b7db0.782e24","order":2,"width":"6","height":"4","gtype":"gage","title":"Humidity","label":"gram per cubic meter","format":"{{value}}","min":0,"max":"100","colors":["#fa6412","#fa6400","#640000"],"seg1":"","seg2":"","x":900,"y":280,"wires":[]},{"id":"5d7c392.10af7c8","type":"ui_gauge","z":"254cc848.2228f8","name":"Temperature","group":"780b7db0.782e24","order":1,"width":"6","height":"4","gtype":"gage","title":"Temperatue","label":"celsius","format":"{{value}}","min":0,"max":"50","colors":["#1717d3","#00e6d6","#ca3838"],"seg1":"","seg2":"","x":890,"y":200,"wires":[]},{"id":"cb115008.8b343","type":"ui_button","z":"254cc848.2228f8","name":"motor on","group":"780b7db0.782e24","order":14,"width":"9","height":1,"passthru":false,"label":"Motor on","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"Motoron\"}","payloadType":"json","topic":"","x":380,"y":620,"wires":[["467782be.21ffcc","94a10464.2e8a68"]]},{"id":"467782be.21ffcc","type":"ibmiot out","z":"254cc848.2228f8","authentication":"apiKey","apiKey":"5c37ff02.5358d","outputType":"cmd","deviceId":"12345","deviceType":"OpenAPI","eventCommandType":"home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":700,"y":680,"wires":[]},{"id":"d27c0cdd.e4cb3","type":"ui_button","z":"254cc848.2228f8","name":"motor off","group":"780b7db0.782e24","order":15,"width":"9","height":1,"passthru":false,"label":"motor off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"Motoroff\"}","payloadType":"json","topic":"","x":400,"y":700,"wires":[["467782be.21ffcc","94a10464.2e8a68"]]},{"id":"72dcc472.3e24ec","type":"inject","z":"254cc848.2228f8","name":"http","topic":"","payload":"","payloadType":"date","repeat":"8","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":480,"wires":[["22451551.3767ca"]]},{"id":"22451551.3767ca","type":"http request","z":"254cc848.2228f8","name":"Open weather API","method":"GET","ret":"obj","paytoqs":false,"url":"http://api.openweathermap.org/data/2.5/weather?q=Visakhapatnam,IN&appid=c1c421996ff1cc08d65d6f6b2a44371b","tls":"","persist":true,"proxy":"","authType":"","x":330,"y":480,"wires":[["155147be.74d168","269fd2d1.ad353e","8e8af04f.2dd65","8c2d6b3f.902f48","70c119c1.d52508"]]},{"id":"155147be.74d168","type":"ui_text","z":"254cc848.2228f8","group":"780b7db0.782e24","order":11,"width":0,"height":0,"name":"","label":"TEMPERATURE","format":"{{msg.payload.main.temp-273.15}}","layout":"row-spread","x":670,"y":440,"wires":[]},{"id":"269fd2d1.ad353e","type":"ui_text","z":"254cc848.2228f8","group":"780b7db0.782e24","order":12,"width":0,"height":0,"name":"","label":"HUMIDITY","format":"{{msg.payload.main.humidity}}","layout":"row-spread","x":650,"y":480,"wires":[]},{"id":"8e8af04f.2dd65","type":"ui_text","z":"254cc848.2228f8","group":"780b7db0.782e24","order":13,"width":0,"height":0,"name":"","label":"ATMOSPHERIC PRESSURE","format":"{{msg.payload.main.pressure}}","layout":"row-spread","x":700,"y":520,"wires":[]},{"id":"8c2d6b3f.902f48","type":"ui_text","z":"254cc848.2228f8","group":"780b7db0.782e24","order":10,"width":0,"height":0,"name":"","label":"WEATHER DESCRIPTION","format":"{{msg.payload.weather[0].description}}","layout":"row-spread","x":700,"y":560,"wires":[]},{"id":"70c119c1.d52508","type":"ui_text","z":"254cc848.2228f8","group":"780b7db0.782e24","order":9,"width":0,"height":0,"name":"","label":"CITY","format":"{{msg.payload.name}}","layout":"row-spread","x":630,"y":600,"wires":[]},{"id":"94a10464.2e8a68","type":"ui_text","z":"254cc848.2228f8","group":"780b7db0.782e24","order":17,"width":0,"height":0,"name":"","label":"MOTOR STATUS","format":"{{msg.payload.command}}","layout":"row-spread","x":760,"y":760,"wires":[]},{"id":"5c37ff02.5358d","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"780b7db0.782e24","type":"ui_group","z":"","name":"DATA","tab":"89e24107.7ca9d","order":1,"disp":false,"width":18,"collapse":false},{"id":"89e24107.7ca9d","type":"ui_tab","z":"","name":"SMART AGRICULTURE SYSTEM BASED ON IoT","icon":"dashboard","disabled":false,"hidden":false}]